@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    background-color: white;
  }
  .text-effect {
    text-shadow: gray 5px 0 10px;
    color: inherit;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* react slick  */
.slick-slide > div{
 margin: 0 10px;
}
.flexAdjustBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 96px;
  border-radius: 10px;
}


